@import 'tailwindcss';

/* @layer theme, base, components, utilties;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities); */

@theme {
  /* 디자인 토큰 구성 */
  --color-euid-gray-200: #d7dadf;
  --color-primary-500: #1550ff;
  --color-primary-700: #2402f6;
  --color-mint-200: #e6f7ff;

  /* 쇼핑 카트 디자인 토근 구성 */
  --white: #ffffff;
  --black: #000000;
  --gray--100: #eeeeee;
  --gray--200: #cccccc;
  --gray--300: #b3b3b3;
  --gray--400: #999999;
  --gray--500: #808080;
  --gray--600: #666666;
  --gray--700: #4d4d4d;
  --gray--800: #333333;
  --gray--900: #1a1a1a;
  
}

@utility wrapper {
  @apply min-w-80 max-w-180 mx-auto;
}